<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard - La Beauty</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Mazer CSS -->
  <link rel="stylesheet" th:href="@{/admin/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/admin/vendors/bootstrap-icons/bootstrap-icons.css}">
  <link rel="stylesheet" th:href="@{/admin/vendors/perfect-scrollbar/perfect-scrollbar.css}">
  <link rel="stylesheet" th:href="@{/admin/css/app.css}">
  <link rel="shortcut icon" th:href="@{/admin/images/favicon.svg}" type="image/x-icon">
</head>

<body>
<div id="app">
  <!-- Sidebar -->
  <div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
      <div class="sidebar-header">
        <h2 class="text-primary ms-3">La Beauty</h2>
      </div>

      <div class="sidebar-menu">
        <ul class="menu">
          <li class="sidebar-title">Menu</li>

          <li class="sidebar-item">
            <a th:href="@{/admin}" class="sidebar-link">
              <i class="bi bi-grid-fill"></i>
              <span>Dashboard</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a th:href="@{/admin/blogs}" class="sidebar-link">
              <i class="bi bi-journal-text"></i>
              <span>Bloglar</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a th:href="@{/admin/prices}" class="sidebar-link">
              <i class="bi bi-currency-dollar"></i>
              <span>Qiymətlər</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a th:href="@{/admin/testimonials}" class="sidebar-link">
              <i class="bi bi-chat-quote fs-5 me-2"></i>
              <span>Rəylər</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a th:href="@{/admin/testimonial-text}" class="sidebar-link">
              <i class="bi bi-pencil-square fs-5 me-2"></i>
              <span>Rəylər Başlığı</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a th:href="@{/admin/categories}" class="sidebar-link">
              <i class="bi bi-list-ul"></i>
              <span>Kateqoriyalar</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a th:href="@{/admin/services}" class="sidebar-link">
              <i class="bi bi-briefcase"></i>
              <span>Xidmətlər</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a th:href="@{/admin/gallery}" class="sidebar-link">
              <i class="bi bi-images"></i>
              <span>Qalereya</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a href="/admin/footer" class="sidebar-link">
              <i class="bi bi-pin-map"></i>
              <span>Əlaqə və Footer</span>
            </a>

        </ul>
      </div>

      <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
  </div>

  <!-- Main content -->
  <div id="main">
    <header class="mb-3">
      <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
      </a>
    </header>

    <!-- BURDA DAXİLİ CONTENT GƏLİR -->
    <main layout:fragment="content"></main>

    <footer>
      <div class="footer clearfix mb-0 text-muted">
        <div class="float-start">
          <p>2025 © La Beauty Admin</p>
        </div>
        <div class="float-end">
          <p>Crafted with <span class="text-danger"><i class="bi bi-heart-fill"></i></span> by Lamia</p>
        </div>
      </div>
    </footer>
  </div>
</div>

<!-- JS -->
<script th:src="@{/admin/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/admin/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/admin/js/main.js}"></script>
</body>
</html>
