<!DOCTYPE html>
<html lang="az"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">


<body>
<main layout:fragment="content">
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Hero Start -->
    <div class="container-fluid p-0 hero-header bg-light mb-5">
        <div class="container p-0">
            <div class="row g-0 align-items-center">
                <div class="col-lg-6 hero-header-text py-5">
                    <div class="py-5 px-3 ps-lg-0">
                        <h1 class="font-dancing-script text-primary animated slideInLeft"
                            th:text="${hero.welcomeText}">Xoş gəldiniz</h1>

                        <h1 class="display-1 mb-4 animated slideInLeft"
                            th:text="${hero.title}">Dəriyə qayğı, gözəlliyə yol</h1>

                        <div class="row g-4 animated slideInLeft">
                            <div class="col-md-6">
                                <a th:href="'tel:' + ${hero.callNumber}" class="d-flex align-items-center text-decoration-none">
                                    <div class="btn-square btn btn-primary flex-shrink-0">
                                        <i class="fa fa-phone text-dark"></i>
                                    </div>
                                    <div class="px-3">
                                        <h5 class="text-primary mb-0" th:text="${hero.callLabel}">Zəng et</h5>
                                        <p class="fs-5 text-dark mb-0" th:text="${hero.callNumber}">+994 50 512 50 66</p>
                                    </div>
                                </a>

                            </div>
                            <div class="col-md-6">
                                <a th:href="'mailto:' + ${hero.mailAddress}" class="d-flex align-items-center text-decoration-none">
                                    <div class="btn-square btn btn-primary flex-shrink-0">
                                        <i class="fa fa-envelope text-dark"></i>
                                    </div>
                                    <div class="px-3">
                                        <h5 class="text-primary mb-0" th:text="${hero.mailLabel}">Bizə yazın</h5>
                                        <p class="fs-5 text-dark mb-0" th:text="${hero.mailAddress}">info@domain.com</p>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="owl-carousel header-carousel animated fadeIn">
                        <img class="img-fluid"
                             th:each="img : ${hero.images}"
                             th:src="${img.imagePath}"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->



    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.2s">
                    <img class="img-fluid w-100" th:src="${about.imagePath}" alt="About">
                    <div class="d-flex align-items-center bg-light">
                        <div class="btn-square flex-shrink-0 bg-primary" style="width: 100px; height: 100px;">
                            <i class="fa fa-phone fa-2x text-dark"></i>
                        </div>
                        <div class="px-3">
                            <h3 th:text="${about.phoneNumber}">+0123456789</h3>
                            <span th:text="${about.phoneLabel}">Pulsuz konsultasiya üçün 24/7 zəng edin</span>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="font-dancing-script text-primary" th:text="${about.title}">Haqqımızda</h1>
                    <h1 class="mb-5" th:text="${about.subtitle}">Niyə bizi seçirlər?</h1>
                    <p class="mb-4" th:text="${about.description}">Salonumuz peşəkar komanda və keyfiyyətli məhsullarla müştərilərinə fərqli təcrübə təqdim edir.</p>
                    <div class="row g-3 mb-5">
                        <div class="col-sm-6">
                            <div class="bg-light text-center p-4">
                                <i class="fas fa-calendar-alt fa-4x text-primary"></i>
                                <h1 class="display-5" data-toggle="counter-up"
                                th:text="${about.experienceYears}">25</h1>
                                <p class="text-dark text-uppercase mb-0">İllik təcrübə</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="bg-light text-center p-4">
                                <i class="fas fa-users fa-4x text-primary"></i>
                                <h1 class="display-5" data-toggle="counter-up"
                                th:text="${about.clientsCount}">999</h1>
                                <p class="text-dark text-uppercase mb-0">Məmnun müştəri</p>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary text-uppercase px-5 py-3" href="/about">Daha çox</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Service Start -->
    <div class="container-fluid service py-5">
        <div class="container">
            <div class="text-center wow fadeIn" data-wow-delay="0.1s">
                <h1 class="font-dancing-script text-primary">Xidmətlərimiz</h1>
                <h1 class="mb-5">Xidmətlərimizlə tanış olun</h1>
            </div>
            <div class="row g-4 g-md-0 text-center">
                <div class="col-md-6 col-lg-4" th:each="category : ${categories}">
                    <div class="service-item h-100 p-4 border-bottom border-end wow fadeIn" data-wow-delay="0.1s">
                        <i th:class="'fa ' + ${category.icon} + ' fa-3x text-primary mb-3'"></i>
                        <h3 class="mb-3" th:text="${category.name}">Category Name</h3>
                        <p class="mb-3" th:text="${category.serviceCount + ' xidmət mövcuddur'}"></p>
                        <a class="btn btn-sm btn-primary text-uppercase" th:href="'/category/' + ${category.id}">
                            Daha çox <i class="bi bi-arrow-right"></i>
                        </a>

                    </div>
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Pricing Start -->
    <div class="container-fluid price px-0 py-5">
        <div class="row g-0">
            <div class="col-md-12">
                <div class="h-100 bg-dark p-5 text-center">

                    <!-- Başlıq -->
                    <div class="d-inline-block bg-primary px-5 py-3 mb-5">
                        <h1 class="text-uppercase text-white m-0">Qiymətlər</h1>
                    </div>

                    <!-- Qiymət siyahısı -->
                    <div th:each="price : ${prices}" class="price-item mb-3 wow fadeIn">
                        <div class="d-flex justify-content-between align-items-center px-4">
                            <h6 class="text-uppercase text-primary mb-0"
                                th:text="${price.name}">
                                Xidmət adı
                            </h6>

                            <h3 class="text-white font-work-sans mb-0"
                                th:text="${price.price + ' AZN'}">
                                50 AZN
                            </h3>
                        </div>
                    </div>

                    <!-- Daha çox -->
                    <div class="text-center mt-4">
                        <a class="btn btn-primary text-uppercase" href="/price">Daha çox</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Pricing End -->




    <!-- Gallery Start -->
    <div class="container-fluid gallery py-5">
        <div class="container">
            <div class="text-center wow fadeIn" data-wow-delay="0.2s">
                <h1 class="font-dancing-script text-primary">Qalereya</h1>
                <h1 class="mb-5">Qalereyamızla tanış olun</h1>
            </div>
            <div class="row g-0">
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.2s">
                    <div class="gallery-item h-100">
                        <img src="/front/img/gallery-1.jpg" class="img-fluid w-100 h-100" alt="">
                        <div class="gallery-icon">
                            <a href="/front/img/gallery-1.jpg" class="btn btn-primary btn-lg-square"
                                data-lightbox="Gallery-1"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 wow fadeIn" data-wow-delay="0.4s">
                    <div class="gallery-item h-100">
                        <img src="/front/img/gallery-2.jpg" class="img-fluid w-100 h-100" alt="">
                        <div class="gallery-icon">
                            <a href="/front/img/gallery-2.jpg" class="btn btn-primary btn-lg-square"
                                data-lightbox="Gallery-2"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 wow fadeIn" data-wow-delay="0.6s">
                    <div class="gallery-item h-100">
                        <img src="/front/img/gallery-3.jpg" class="img-fluid w-100 h-100" alt="">
                        <div class="gallery-icon">
                            <a href="/front/img/gallery-3.jpg" class="btn btn-primary btn-lg-square"
                                data-lightbox="Gallery-3"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 wow fadeIn" data-wow-delay="0.2s">
                    <div class="gallery-item h-100">
                        <img src="/front/img/gallery-4.jpg" class="img-fluid w-100 h-100" alt="">
                        <div class="gallery-icon">
                            <a href="/front/img/gallery-4.jpg" class="btn btn-primary btn-lg-square"
                                data-lightbox="Gallery-4"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 wow fadeIn" data-wow-delay="0.4s">
                    <div class="gallery-item h-100">
                        <img src="/front/img/gallery-5.jpg" class="img-fluid w-100 h-100" alt="">
                        <div class="gallery-icon">
                            <a href="/front/img/gallery-5.jpg" class="btn btn-primary btn-lg-square"
                                data-lightbox="Gallery-5"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.6s">
                    <div class="gallery-item h-100">
                        <img src="/front/img/gallery-6.jpg" class="img-fluid w-100 h-100" alt="">
                        <div class="gallery-icon">
                            <a href="/front/img/gallery-6.jpg" class="btn btn-primary btn-lg-square"
                                data-lightbox="Gallery-6"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery End -->


    <!-- Team Start -->
    <div class="container-fluid overflow-hidden py-5">
        <div class="container">
            <div class="text-center wow fadeIn" data-wow-delay="0.2s">
                <!-- Başlıqlar DB-dən -->
                <h1 class="font-dancing-script text-primary" th:text="${teamText.subtitle}">Komandamız</h1>
                <h1 class="mb-5" th:text="${teamText.title}">Təcrübəli mütəxəssislərimiz</h1>
            </div>

            <div class="row g-4 team">
                <!-- Yalnız ilk 4 üzv çıxacaq -->
                <div class="col-md-6 col-lg-3 wow fadeIn"
                     th:each="member, iterStat : ${teamMembers}"
                     th:attr="data-wow-delay=${0.1 + (iterStat.index * 0.2)} + 's'">

                    <div class="team-item position-relative overflow-hidden">
                        <!-- Şəkil DB-dən -->
                        <img class="img-fluid w-100" th:src="${member.imageUrl}" alt="">

                        <!-- Overlay -->
                        <div class="team-overlay">
                            <!-- Vəzifə və ad -->
                            <p class="text-primary mb-1" th:text="${member.position}">Mütəxəssis</p>
                            <h4 th:text="${member.name}">Ad Soyad</h4>

                            <!-- Sosial şəbəkələr -->
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-dark btn-sm-square border-2 me-3"
                                   th:if="${member.facebook != null}" th:href="${member.facebook}">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="btn btn-dark btn-sm-square border-2"
                                   th:if="${member.instagram != null}" th:href="${member.instagram}">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Daha çox butonu -->
            <div class="text-center mt-4">
                <a class="btn btn-primary text-uppercase px-5 py-3" href="/team">
                    Daha çox
                </a>
            </div>

        </div>
    </div>
    <!-- Team End -->




    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center wow fadeIn" data-wow-delay="0.2s">
                <h1 class="font-dancing-script text-primary" th:text="${testimonialText.title}">Rəylər</h1>
                <h1 class="mb-5" th:text="${testimonialText.subtitle}">Müştərilərimiz nə deyir?</h1>
            </div>

            <!-- Son 5 testimonial göstər -->
            <div class="owl-carousel testimonial-carousel wow fadeIn" data-wow-delay="0.3s">
                <div class="text-center bg-light p-4" th:each="t : ${testimonials}">
                    <i class="fa fa-quote-left fa-3x mb-3"></i>
                    <p th:text="${t.feedback}">Rəy mətni</p>
                    <h4 class="mb-1" th:text="${t.clientName}">Müştərinin adı</h4>
                    <span th:text="${t.profession}">Peşə</span>
                </div>
            </div>

            <!-- Daha çox butonu -->
            <div class="text-center mt-4">
                <a class="btn btn-primary text-uppercase px-5 py-3" href="/testimonial">Daha çox</a>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->



    <!-- Blog Start -->
    <div class="container-fluid blog py-5">
        <div class="container">
            <div class="text-center mb-5">
                <h1 class="font-dancing-script text-primary">Son Bloqlar</h1>
                <h2 class="mb-0">Ən son paylaşılan yazılar</h2>
            </div>
            <div class="row g-4">
                <!-- Yalnız 2 blog çıxacaq -->
                <div class="col-md-6" th:each="post, iterStat : ${blogs}" th:if="${iterStat.index < 2}">
                    <div class="card h-100">
                        <img class="card-img-top" th:src="${post.imagePath}" alt="Blog şəkli"
                             style="object-fit: cover; height: 250px;">
                        <div class="card-body bg-primary text-white">
                            <p class="mb-2">
                                <i class="fa fa-calendar-alt text-dark me-1"></i>
                                <span th:text="${post.createdAt}">2025-09-01</span> |
                                <i class="fa fa-folder-open text-dark me-1"></i>Bloq
                            </p>
                            <h5 class="card-title" th:text="${post.title}">Bloq Başlığı</h5>
                            <p class="card-text" th:text="${#strings.abbreviate(post.content, 200)}">
                                Bloq məzmununun qısa hissəsi burda olacaq.
                            </p>
                            <!-- Artıq hər kart blog səhifəsinə aparır -->
                            <a class="btn btn-dark text-uppercase" href="/blog">
                                Daha çox <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->



    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


</main>

</body>

</html>