<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Our Team</title>
</head>

<body>
<div layout:fragment="content">

    <!-- Hero Start -->
    <div class="container-fluid bg-light page-header py-5 mb-5">
        <div class="container text-center py-5">
            <h1 class="display-1 animated slideInLeft">Komandamız</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center animated slideInLeft mb-0">
                    <li class="breadcrumb-item"><a class="text-primary" href="#">Ana Səhifə</a></li>
                    <li class="breadcrumb-item"><a class="text-primary" href="#">Səhifələr</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Komandamız</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Hero End -->

    <!-- Team Start -->
    <div class="container-fluid overflow-hidden py-5">
        <div class="container">
            <div class="text-center wow fadeIn" data-wow-delay="0.2s">
                <h1 class="font-dancing-script text-primary" th:text="${teamText.subtitle}"></h1>
                <h1 class="mb-5" th:text="${teamText.title}"></h1>
            </div>
            <div class="row g-4 team mb-4">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s" th:each="member : ${members}">
                    <div class="team-item position-relative overflow-hidden">
                        <img class="img-fluid w-100" th:src="${member.imageUrl}" alt="">
                        <div class="team-overlay">
                            <p class="text-primary mb-1" th:text="${member.position}"></p>
                            <h4 th:text="${member.name}"></h4>
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-dark btn-sm-square border-2 me-3"
                                   th:if="${member.facebook != null}"
                                   th:href="${member.facebook}">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="btn btn-dark btn-sm-square border-2 me-3"
                                   th:if="${member.instagram != null}"
                                   th:href="${member.instagram}">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

</div>
</body>

</html>
