<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Testimonial</title>
</head>

<body>
<div layout:fragment="content">

    <!-- Hero Start -->
    <div class="container-fluid bg-light page-header py-5 mb-5">
        <div class="container text-center py-5">
            <h1 class="display-1 animated slideInLeft" th:text="${testimonialText.title}">Rəylər</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center animated slideInLeft mb-0">
                    <li class="breadcrumb-item"><a class="text-primary" href="/">Ana Səhifə</a></li>
                    <li class="breadcrumb-item"><a class="text-primary" href="/testimonial">Rəylər</a></li>
                    <li class="breadcrumb-item active" aria-current="page" th:text="${testimonialText.title}"></li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center wow fadeIn" data-wow-delay="0.2s">
                <h1 class="font-dancing-script text-primary" th:text="${testimonialText.title}"></h1>
                <h1 class="mb-5" th:text="${testimonialText.subtitle}"></h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeIn" data-wow-delay="0.3s">
                <div class="text-center bg-light p-4" th:each="t : ${testimonials}">
                    <i class="fa fa-quote-left fa-3x mb-3"></i>
                    <p th:text="${t.feedback}"></p>
                    <img class="img-fluid mx-auto border p-1 mb-3" th:src="${t.imageUrl}" alt="">
                    <h4 class="mb-1" th:text="${t.clientName}"></h4>
                    <span th:text="${t.profession}"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

</div>
</body>

</html>